`Q1.` Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [1]:
my_tuple=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), 
          ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [21]:
my_tuple

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [42]:
my_tuple.sort(key=lambda x: x[1])

In [39]:
my_tuple

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

`OR`

In [43]:
y = sorted(my_tuple, key =lambda a: len(a))
print(y)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

`OR`

In [47]:
z=list(filter(lambda x: x[1], my_tuple))

In [50]:
z

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [1]:
Given_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
Square_of_list=list(map(lambda x :x**2,Given_list))

In [4]:
Square_of_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

In [5]:
Given_Numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
convert_into_string =tuple(map(lambda x: str(x),Given_Numbers))

In [7]:
convert_into_string

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [8]:
list_contain =[]
for i in range(1,25+1):
    list_contain.append(i)

In [10]:
print(list_contain,end =" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [11]:
from functools import reduce

In [25]:
product_of_list=reduce((lambda x,y: x*y),list_contain)

In [26]:
product_of_list

15511210043330985984000000

In [19]:
def test0(a,b):
    return a*b

In [21]:
ans =reduce(test0,list_contain)

In [22]:
ans

15511210043330985984000000

In [28]:
import math

m =math.prod(list_contain)

In [29]:
m

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

In [31]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(lst)

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [41]:
divisible_by2 =list(filter(lambda x : x%2 ==0,lst))

In [42]:
divisible_by2

[2, 6, 60, 90, 120, 46]

In [43]:
divisible_by2_3 =list(filter(lambda x : x%2==0 and x%3 ==0,lst))

In [44]:
divisible_by2_3

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

In [54]:
pali_drome =['python', 'php', 'aba', 'radar', 'level','malayalam','nayan','arora']

In [55]:
filter_palindrome =list(filter(lambda x: x == x[::-1],pali_drome))

In [56]:
filter_palindrome

['php', 'aba', 'radar', 'level', 'malayalam', 'nayan', 'arora']