## `Assignments on Tuple_List_Set_dict-1`

`Q1. What are the characteristics of the tuples? Is tuple immutable?`

Ans :- Tuple is used to store the multiple elements in sigle variable or collection of elements 
       is store in sigle variable.tuple is define in `()` bracket
       
1. Tuple iteams are ordered,immutable,its allow duplicate.

`Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.`

Ans:- Tuple have 2 built in method in python which is count & Index.list is size of more flexible data structure.tuple is fixed size due to immutable nature.

In [2]:
t1 =(1,2,3,4,5,3,4,5,6)
print(t1)

(1, 2, 3, 4, 5, 3, 4, 5, 6)

In [3]:
# Return number of occurrences of value.

t1.count(3)

2

In [4]:
# Return first index of value.
t1.index(4)

3

`Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.`

Ans:= Set collection of data type is not allow duplicate iteams

In [5]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [6]:
print(List)

[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [7]:
set(List)

{1, 2, 3, 4}

`Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.`

Ans :
    `Union func` :union function is combine the element from two set without duplicates.
    
    `Update function` :update function is combine set of elements in single tuple.

In [22]:
t2 ={1,2,3,4}
t3 ={5,4,6,7,8}
t2.union(t3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
t2.update(t3)

In [30]:
t2

{1, 2, 3, 4, 5, 6, 7, 8}

`Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered`

Ans := Ditctionary is used to store multiple iteams in key value pairs.

Ditionary is collection of order elements it is mutable, not index, its not allowed duplicates.

In [31]:
dct ={"Name":"Bhushan","City":"Pune","Course":"Data science master"}
print(dct)

{'Name': 'Bhushan', 'City': 'Pune', 'Course': 'Data science master'}

`Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.`

Ans:= Yes, We can create nested dictionary.

In [35]:
myfamily = { "child1" : {"name" : "Emil","year" : 2004},
            "child2" : {"name" : "Tobias","year" : 2007}}

In [36]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}}

`Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']`

Ans:= The setdefault() method returns the value of the item with the specified key.

In [4]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [14]:
dict1['topics']= "python","Machine_learning","Deep_learning"

In [15]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ('python', 'Machine_learning', 'Deep_learning')}

In [16]:
x =dict1.setdefault('topics','python')

In [17]:
x

('python', 'Machine_learning', 'Deep_learning')

`Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.`

In [18]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [20]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [21]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [22]:
dict2.keys()

dict_keys(['Sport', 'Teams'])